div {
	display: block;
}

canvas {
	/* right: 0; */
	border-radius: 15px;
	background-color: black;
	/*margin-left: 10%;*/
}

.canvas-container{
	display: flex;
	justify-content: space-around;
}

/* CSS */
button {
	align-items: center;
	appearance: none;
	background-color: #fff;
	border-radius: 20px;
	margin: 5px;
	border-style: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
		rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
	box-sizing: border-box;
	color: #3c4043;
	cursor: pointer;
	display: inline-flex;
	fill: currentcolor;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 30px;
	justify-content: center;
	letter-spacing: 0.25px;
	line-height: normal;
	max-width: 100%;
	overflow: visible;
	padding: 2px 10px;
	position: relative;
	text-align: center;
	text-transform: none;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform, opacity;
	z-index: 0;
}

button:hover {
	background: #f6f9fe;
	color: #174ea6;
}

button:active {
	box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
		0 8px 12px 6px rgb(60 64 67 / 15%);
	outline: none;
}

button:focus {
	outline: none;
	border: 2px solid #4285f4;
}

button:not(:disabled) {
	box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
		rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
	box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
		rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
	box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
		rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

button:not(:disabled):active {
	box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
		rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

button:disabled {
	box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
		rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

form,
input,
div,
select,
option {
	border-radius: 20px;
	margin: 5px;
	text-align: center;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	padding: 2px 10px;
	justify-content: center;
	letter-spacing: 0.25px;
}

select:hover {
	background: #f6f9fe;
	color: #174ea6;
}

h2,h3 {
	border-radius: 20px;
	margin: 8px;
	text-align: center;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 17px;
	font-weight: 500;
	border: 10px;
	justify-content: center;
	letter-spacing: 0.25px;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	border: 0.2em solid black;
	padding-left: 15px;
	padding-right: 15px;
}

.double-container{
	display: flex;
	justify-content: space-around;	
}

#ISS{
	font-weight: bold;
}